@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic);
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  background-color: rgb(77, 8, 51);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

section{
  display: grid;
  gap: 20px;
  background-color:lightseagreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1.titulo, .msg {
  color:aliceblue;
}

h2 {
  color: rgb(77, 8, 51);
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

h3 {
  margin: 0;
}

#tts-container,
#vtt-container {
  display: grid;
  gap: 10px;
  justify-items: center;
  padding: 10px;
  background-color: rgb(11, 126, 120);

}

textarea {
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  font-size: 16px;
}

select {
  margin: 0 10px;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: rgb(77, 8, 51);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 2px;
}

button:hover {
  background-color: darkviolet;
}

button:disabled {
  background-color:gray;
  cursor:not-allowed
}

#voice-input {
  color: white;
}

canvas {
  position: absolute;
  top: 200px;
  /* background-color: green; */
  z-index: 10;
}

video {
  /* background-color: blue; */
  position: absolute;
  top: 200px;
  z-index: 1;

}

#contenedor_cara {
  margin: 0;
}

footer {
  color: gold;
}