@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic);
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  background-color: rgb(77, 8, 51);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

section{
  display: grid;
  gap: 20px;
  background-color:lightseagreen;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1.titulo, .msg {
  color:aliceblue;
}

h2 {
  color: rgb(77, 8, 51);
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

h3 {
  margin: 0;
}

#tts_container,
#vtt_container {
  display: grid;
  gap: 10px;
  justify-items: center;
  padding: 10px;
  background-color: rgb(11, 126, 120);

}

textarea {
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  font-size: 16px;
}

select {
  margin: 0 10px;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: rgb(77, 8, 51);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 2px;
}

button:hover {
  background-color: darkviolet;
}

button:disabled {
  background-color:gray;
  cursor:not-allowed
}

#voice-input {
  color: white;
}

#contenedor_cara {
  margin: 0;
  /* background-color: red; */
  display: grid;
  justify-content: center;
}

#contenedor_video {
  background-color:red;
  min-width: 700px;
  
}

canvas, video{
  position: absolute;
  top: 250px;
  /* width: 600px;
  height: 400px; */
}

canvas {
  /* background-color: green; */
  z-index: 10;
}

video {
  /* background-color: blue; */
  z-index: 1;

}

footer {
  color: gold;
}

.loading {
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
  display: none
}

@keyframes loading {
  0% {
    color: #e9e9e9;
  }
  50% {
    color: #b89b84;
  }
  100% {
    color: #e9e9e9;
  }
}

@media (max-width: 1500px) {
  canvas, video {
    top: 260px;
  }
}

@media (max-width: 1020px) {
  canvas, video {
    top: 290px;
  }
  main {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  #contenedor_voz, #contenedor_cara {
    grid-column: span 1; 
  }
}
